.profile {
  background-color: antiquewhite;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}

.profile-name {
  line-height: 18px;
  padding: 20px;
}

.profile-name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.profile-name .title {
  font-size: 13px;
  color: rgb(103, 100, 100);
  font-style: oblique;
}

.profile-image {
  margin-top: -10px;
  --webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.img {
  width: auto;
}
