.about-photo > img {
  height: 25rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-blue);
}

.about-heading {
  color: var(--primary-blue);
  text-transform: uppercase;
}

.about-text {
  font-size: 1.25rem;
  height: 66vh;
}
