.footer {
  background-color: #343a40;
  color: var(--primary-white);
}

.footer a {
  color: var(--primary-white);
}

.footer a:hover {
  color: var(--primary-blue);
  text-decoration: none;
}

.footer {
  justify-content: center;
}
